In [2]:
# imports
import pandas as pd

In [5]:
# load up dataframe
df = pd.read_csv('./price data/eurusd-otc_5sec_2024-06-11_2024-07-05.csv')
df

        Unnamed: 0                 time     close
0                0  2024-06-11 02:00:00  1.061500
1                1  2024-06-11 02:00:05  1.061620
2                2  2024-06-11 02:00:10  1.061540
3                3  2024-06-11 02:00:15  1.061595
4                4  2024-06-11 02:00:20  1.061610
...            ...                  ...       ...
423254      423254  2024-07-05 13:51:10  1.083435
423255      423255  2024-07-05 13:51:15  1.083390
423256      423256  2024-07-05 13:51:20  1.083340
423257      423257  2024-07-05 13:51:25  1.083410
423258      423258  2024-07-05 13:51:30  1.083450

[423259 rows x 3 columns]

In [ ]:
# classify each data item, if it was greater or less than the previous one